body{
    background-color: blue;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* p{
    font-size: 30px;
} */

h1, h3{
    font-size: 45px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.box1{
    background-color: orangered;
    box-shadow: 1px 1px 18px -3px #000;
    color: white;
    font-size: 30px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    animation-name: box1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes box1 {
    0%   {background-color:orangered; left:0px; top:0px;}
    25%  {background-color:green; left:200px; top:0px;}
    50%  {background-color:orangered; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:orangered; left:0px; top:0px;}
}

.box2{
    background-color: orangered;
    box-shadow: 1px 1px 18px -3px #000;
    color: white;
    font-size: 30px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    animation-name: box2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes box2 {
    0%   {background-color:orangered; left:0px; top:0px;}
    25%  {background-color:green; left:200px; top:0px;}
    50%  {background-color:orangered; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:orangered; left:0px; top:0px;}
}

.box3{
    background-color: orangered;
    box-shadow: 1px 1px 18px -3px #000;
    color: white;
    font-size: 30px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    animation-name: box3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes box3 {
    0%   {background-color:orangered; left:0px; top:0px;}
    25%  {background-color:green; left:200px; top:0px;}
    50%  {background-color:orangered; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:orangered; left:0px; top:0px;}
}

.boxesSection{
    display: flex;
    justify-content: center;
    align-items: center;
}